In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_excel("Tenencia y financiaciÃ³n de la vivienda que ocupa el hogar.xlsx")
df

,DIRECTORIO,SECUENCIA_ENCUESTA,SECUENCIA_P,ORDEN,FEX_C,P5095,P5100,P3197,P5120,P8692,...,P5110,P5130,P5140,P3006,P5650,P5160,P5160S1,P5160S1A1,P5160S2,P5160S2A1
0,8219789,1,1,1,651.298866,1,NaN,2.0,2.0,NaN,...,120000000.0,750000.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
1,8219790,1,1,1,487.104165,3,NaN,NaN,NaN,NaN,...,NaN,NaN,750000.0,2.0,1000,2,NaN,NaN,NaN,NaN
2,8219791,1,1,1,496.652233,3,NaN,NaN,NaN,NaN,...,NaN,NaN,750000.0,2.0,0,2,NaN,NaN,NaN,NaN
3,8219792,1,1,1,419.823502,3,NaN,NaN,NaN,NaN,...,NaN,NaN,460000.0,1.0,0,2,NaN,NaN,NaN,NaN
4,8219793,1,1,1,518.428829,3,NaN,NaN,NaN,NaN,...,NaN,NaN,760000.0,2.0,0,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85382,8369526,1,1,1,5.894914,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
85383,8369527,1,1,1,7.368643,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
85384,8369528,1,1,1,10.109078,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
85385,8369529,1,1,1,6.239633,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,99,2,NaN,NaN,NaN,NaN
85386,8369530,1,1,1,16.654256,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,99,2,NaN,NaN,NaN,NaN

In [5]:
df = df.replace("NaN", "")

In [6]:
df

,DIRECTORIO,SECUENCIA_ENCUESTA,SECUENCIA_P,ORDEN,FEX_C,P5095,P5100,P3197,P5120,P8692,...,P5110,P5130,P5140,P3006,P5650,P5160,P5160S1,P5160S1A1,P5160S2,P5160S2A1
0,8219789,1,1,1,651.298866,1,NaN,2.0,2.0,NaN,...,120000000.0,750000.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
1,8219790,1,1,1,487.104165,3,NaN,NaN,NaN,NaN,...,NaN,NaN,750000.0,2.0,1000,2,NaN,NaN,NaN,NaN
2,8219791,1,1,1,496.652233,3,NaN,NaN,NaN,NaN,...,NaN,NaN,750000.0,2.0,0,2,NaN,NaN,NaN,NaN
3,8219792,1,1,1,419.823502,3,NaN,NaN,NaN,NaN,...,NaN,NaN,460000.0,1.0,0,2,NaN,NaN,NaN,NaN
4,8219793,1,1,1,518.428829,3,NaN,NaN,NaN,NaN,...,NaN,NaN,760000.0,2.0,0,2,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85382,8369526,1,1,1,5.894914,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
85383,8369527,1,1,1,7.368643,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
85384,8369528,1,1,1,10.109078,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,0,2,NaN,NaN,NaN,NaN
85385,8369529,1,1,1,6.239633,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,99,2,NaN,NaN,NaN,NaN
85386,8369530,1,1,1,16.654256,6,NaN,NaN,NaN,NaN,...,NaN,99.0,NaN,NaN,99,2,NaN,NaN,NaN,NaN

In [7]:
df.isnull().sum()

DIRECTORIO                0
SECUENCIA_ENCUESTA        0
SECUENCIA_P               0
ORDEN                     0
FEX_C                     0
P5095                     0
P5100                 83862
P3197                 50857
P5120                 50857
P8692                 64218
P8692S1A1             68533
P8692S2               82103
P5610                 50857
P5610S1               66144
P8693                 50857
P5110                 50857
P5130                 24577
P5140                 60810
P3006                 60810
P5650                     0
P5160                     0
P5160S1               84919
P5160S1A1             85041
P5160S2               84919
P5160S2A1             85208
dtype: int64

In [8]:
df = df.dropna(subset = ['P5100'])
df.shape

(1525, 25)

In [10]:
df.isnull().sum()

DIRECTORIO               0
SECUENCIA_ENCUESTA       0
SECUENCIA_P              0
ORDEN                    0
FEX_C                    0
P5095                    0
P5100                    0
P3197                    0
P5120                    0
P8692                  589
P8692S1A1              895
P8692S2               1265
P5610                    0
P5610S1                373
P8693                    0
P5110                    0
P5130                    0
P5140                 1525
P3006                 1525
P5650                    0
P5160                    0
P5160S1               1508
P5160S1A1             1512
P5160S2               1508
P5160S2A1             1520
dtype: int64